.ia-basic-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);

	&__data {
	    border-radius: $border-radius;
	    width: 25%;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    background: $p-light-color;
	}
	&__header {
	    color: $primary-text;
        padding: 12px 0;
        border-bottom: 1px solid $primary-text;
        &__heading {
    	    font-weight: 400;
    		font-size: 26px;
        }
	}

	&__body {
		padding: 0 32px;
    	margin: 18px 0;
    	// Accounts From
    	&__no-account{
			font-size: 12px;
		    margin: 22px 0;
		    color: $secondary-text;
    	}
	}
	
	&__footer {
	    color: $primary-text;
	}
}