.btn{
    padding: 6px 8px;
    outline: none;
    font-weight: 600;
    text-transform: uppercase;
	cursor: pointer;
	position: relative;
	border-radius: $border-radius;
	font-size: 14px;
	margin-top: 18px;
}

.btn-dark {
    color: $accent-color;
    background: transparent;
    border: 1px solid $accent-color;
	overflow: hidden;
	@include transition(color 0.4s ease-out, border-color 0.6s ease-out);
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		@include transition(all 0.3s ease-out);
		width: 0;
		height: 103%;
		top: 50%;
		left: 50%;
		background: $accent-color;
		opacity: 1;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
    &:hover,&:focus {
    	color: $p-light-color;
    	border-color: transparent;
    	&:after {
    		background: $accent-color;
			width: 100%;
			opacity: 1;
		}
	}
	
}
