// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,800,900');
// Colors
$primary-color : #fafafa;
$p-light-color : #ffffff;
$p-dark-color : #c7c7c7;

$secondary-color : #212121;
// $s-light-color : ;
$s-dark-color : rgb(33, 33, 33);

$accent-color : #FC335C;
$green-color : #09a2ff;

// Text Colors
$primary-text : #212121;
$secondary-text : rgba(33,33,33,.7);
$hint-text : #757575;

// Theme
$border-color: #e5e5e5;
$border-radius: 6px;

// Layout
$admin-nav-width: 20%;

// Font Size
$xxs-font: 6px;
$xs-font: 8px;
$s-font: 12px;
$m-font: 14px;
$l-font: 16px;
$xl-font: 18px;
$xxl-font: 24px;